<div class="story-body scrollytelling">
    <h1>Temperature Distribution Chart</h1>
    <p>What were all the winter temperatures from 1890-1920? What about 1990-2020?</p>

    <div id="distribution" class="chart">
    </div>

    <div class="steps"> 
      <div class='step' id="old-step">
        <p>
          <a>From <strong>1890-1920</strong>, high temperatures in winter fluctuated around an average of <strong>40.5 degrees</strong>. (Each column represents the number of times a high temperature took place.)</a>
        </p>
      </div>
      <div class='step' id="old-low-step">
        <p>
          <a>But the range of high temperatures over that period was vast-- with roughly <strong>20%</strong> of days failing to rise above freezing...</a>
        </p>
      </div>
      <div class='step' id="old-high-step">
        <p>
          <a>...and <strong>20%</strong> exceeding 50 degrees.</a>
        </p>
      </div>
      <div class='step' id="new-step">
        <p>
          <a>But by <strong>1990-2020</strong>, the average high had increased to almost <strong>44</strong> degrees.</a>
        </p>
      </div>
      <div class='step' id="new-low-step">
        <p>
          <a>By then, only <strong>12.5%</strong> of days failed to rise above freezing...</a>
        </p>
      </div>
      <div class='step' id="new-high-step">
        <p>
          <a>...and almost <strong>30%</strong> exceeded 50 degrees.</a>
        </p>
      </div>
    </div>
</div>

<script src="scripts/homework-15/distribution.js"></script>
