<div class="story-body scrollytelling">
    <h1>Swarmplot by Epoch</h1>
    <p>High temperatures in winter (Dec-Feb) in Philadelphia, 1890-1920 and 1990-2020.</p>
    <p>Each dot represents one observed day.</p>
    <div id="swarmplot-epoch" class="chart">
    </div>

    <div class="steps"> 
      <div class='step' id="old-epoch-step">
        <p>
          <a>From <strong>1890-1920</strong>, high temperatures in winter fluctuated around an average of <strong>40.5 degrees</strong>.</a>
        </p>
      </div>
      <div class='step' id="new-epoch-step">
        <p>
          <a>A hundred years later, from <strong>1991-2020</strong>, there was still a wide range of high temperatures. But the average had increased to nearly <strong>44 degrees</strong>.</a>
        </p>
      </div>
      <div class='step' id="extremes-step">
        <p>
          <a>Highs in the upper 30s to low 40s were about the same during the two periods, but the most recent 30-year period had a relative absence of cold days and an abundance of warm ones compared with 100 years prior.</a>
        </p>
      </div>
      <div class='step' id="freezing-step">
        <p>
          <a>From 1891-1920, about <strong>one in five</strong> winter days stayed entirely below freezing. From 1991-2020, that number was <strong>one in eight</strong>.</a>
        </p>
      </div>
      <div class='step' id="above-50-step">
        <p>
          <a>Likewise, days with temperatures reaching above 50 degrees represented <strong>one in five</strong> of all winter days in the older period, compared with <strong>one in three</strong> in the recent one.</a>
        </p>
      </div>
    </div>
    
</div>

<script src="scripts/homework-15/swarm-epoch.js"></script>
