<div class="story-body scrollytelling">
    <h1>Swarmplot</h1>
    <p>High temperatures by month in Philadelphia, 1991-2020.</p>
    <p>Each dot represents one observed day.</p>
    <div id="swarmplot" class="chart">
    </div>

    {{!-- <div class="steps"> 
      <div class='step' id="months-step">
        <p>
          <a>Consider a plot showing the high temperature of every day from July 1990 through June 2020, with hotter days represented by redder dots and colder ones by bluer ones.</a>
        </p>
      </div>
      <div class='step' id="july-step">
        <p>
          <a>Over those thirty years, July high temperatures spanned a narrow range of less than 40 degrees between the hottest and coolest ever days...</a>
        </p>
      </div>
      <div class='step' id="jan-step">
        <p>
          <a>...while January temperatures spanned a much wider range, with highs ranging from 5 degrees all the way to 77 degrees.</a>
        </p>
      </div>
    </div> --}}
    
</div>

<script src="scripts/homework-15/swarmplot.js"></script>
